vendor/
test.env
.phpunit.result.cache
Dockerfile
.vscode/
**/.DS_Store

composer.lock

var/
tools/
build/
tests/archivos/bhe_emitidas_pdf/*
tests/archivos/bte_emitidas_pdf/*
tests/archivos/bte_emitidas_html/*

phpstan-baseline.neon
